:root {
  /* Colores principales */
  --ion-color-primary: #04402A;
  --ion-color-primary-contrast: #F2F2F2;
  --ion-color-primary-shade: #01261C;
  --ion-color-primary-tint: #92A69E;

  /* Fondo y texto */
  --ion-text-color: #0D0D0D;

  /* Otros colores */
  --ion-color-secondary: #92A69E;
  --ion-color-tertiary: #04402A;
}

/* Opcional: Elimina cualquier definición relacionada con el modo oscuro */
